.contact{
	text-align: center;
}

.clear{
	height: 80px;
}

.sectiontitle{
	/*padding-top: 30px;*/
	text-align: center;
    margin-bottom: 30px;
}

.overview{
	text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}

.footer{
  background-color: #f2f2f2;
  text-align: center;
  padding: 30px 0;
  padding-top: 70px;
}

#navbar-main.affix {
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 100%;
}

#about { 
    background: url(../images/brickwall.png) 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}
#about .overview{
    padding-left: 50px;
    padding-right: 50px;
    height: 250px;
}
#profiles { 
    background: #262524;
    height: auto;  
    margin: 0 auto;
    height: 100%; 
    width: 100%; 
    position: relative; 
    /*box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
    padding: 100px 0;
    color: #fff;
}
#profiles .overview{
    /*height: 250px;*/
}
.profimage {
  height: 75px;
  margin-left: 40%;
  margin-right: auto;
}
.circular {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  }

#contact { 
    background: url(../images/street1.jpg) 50% 0 fixed; 
    height: auto;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    padding: 100px 0;
    /*color: #fff;*/
}

#about-header {
    background: url(../images/seaport.jpg) 50% 0 fixed; 
    height: 400px;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    padding: 100px 0;
}

.sidenav {
    margin-top: 40px;
    margin-bottom: 20px;
}
/* All levels of nav */
.sidenav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.sidenav  > li > a:hover,
.sidenav  > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
}
.sidenav  .nav > .active > a,
.sidenav  .nav > .active:hover > a,
.sidenav  .nav > .active:focus > a {
  font-weight: bold;
  border-left: 2px solid #112540;
  color: #112540;
  background-color: transparent;
}

.body {
  position: relative;
}
.affix {
  width: inherit; /*//helped keep the content the same size on fluid layouts*/
  position: fixed;
  top: 120px;  /*height of the nav*/
}
.affix-bottom {
  width: inherit;
  position: absolute;
  top: auto;
  bottom: 200px;  /*//height of the footer*/
}
.affix-top {
  /*//i didn't need this style but you might*/
  margin-top: 100px;
}